# ===============================
# HELP FILES
# ===============================
HELP.md

# ===============================
# MAVEN
# ===============================
target/
.mvn/wrapper/maven-wrapper.jar

# Permitir target dentro de src
!**/src/main/**/target/
!**/src/test/**/target/

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# ENV FILES
# ===============================
.env
.env.*

# ===============================
# OS FILES
# ===============================
.DS_Store
Thumbs.db

# ===============================
# SPRING BOOT
# ===============================
spring.log

# ===============================
# STS / SPRING TOOL SUITE
# ===============================
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# ===============================
# INTELLIJ
# ===============================
.idea/
*.iws
*.iml
*.ipr
out/

# ===============================
# VSCODE
# ===============================
.vscode/

# ===============================
# NETBEANS
# ===============================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

# Permitir build dentro de src
!**/src/main/**/build/
!**/src/test/**/build/

# ===============================
# JAVA
# ===============================
*.class

# ===============================
# TESTS
# ===============================
/coverage/
/allure-results/
/allure-report/

# ===============================
# DOCKER
# ===============================
docker-compose.override.yml

# ===============================
# SONAR
# ===============================
.scannerwork/

# ===============================
# GENERATED FILES
# ===============================
generated/